@{
    ViewData["Title"] = "Home Page";
}
@model FileUploadDbModel

<form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Upload">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file" />
            <span asp-validation-for="FileUpload.FormFile"></span>
        </dd>
    </dl>
    <input class="btn" type="submit" value="upload" />
</form>